
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<form autocomplete="off" method="post">
    <h1>Sign In</h1>
        <div>
        <form autocomplete="off" method="post">
            {% if error %}
               <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('login') }}">Logout</a>
                 </div>
            {% endif %}
            <label>Nom d'utilisateur</label>
            <input placeholder="Pseudo" type="text" value="{{ last_username }}" name="username" required>
            <label>Mot de passe</label>
            <input placeholder="Mot de passe" type="password" name="password"  required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">Connexion</button>
        </form>
        </div>
        <p>Vous n'avez pas de compte ? inscrivez vous !!</p>
        <a href="{{ path ('inscription') }}">
                <button class="ghost" >Inscription</button>
        </a>
{% endblock %}

