{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="./CSS/css.css" rel="stylesheet">
{% endblock %}

{% block body %}
	
	<div class="d-flex align-items-center min-vh-100" style="background-image: url('./Image/fond-cartoon2.jpg'); background-size: cover;">
	<div class="container text-center" style="position: relative; z-index: 1;">
	
			<h1 style="font-family: 'cartoonregular'; font-size: 6em; color: white; text-shadow: 3px 3px 2px black;">QUIZ DE POULET</h1>

			<div class="list-group w-75 mx-auto" id="quiz-container">
			{% for q in tabQuiz %}

				    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start rounded mb-3" style="background: radial-gradient(#edc57f, #dfad55);">
				    <div class="d-flex w-100 justify-content-between">
			    	
		    			<img src="./Image/girafe.jpg" alt="image du quiz" class="img-fluid" style="height: 200px;">
	    				
		    			<div class="row w-100">
							<div class="row justify-content-center">
					      		<h2 style="font-family:'cartoonregular';">{{q.name}} (/{{q.questions.count}})</h2>
						    </div>

						    <div class="row justify-content-center">
						    	<p style="font-family: 'cartoonregular'; font-size: 1.5em;">{{q.description}}</p>
						    </div>

						    <div class="d-flex row justify-content-between" style="padding-right: 0px;">
						    	<div class="col-4 align-self-center" style="padding: 0px;">par {{q.createdBy}}</div>
						    	<div class="col-4 align-self-center" style="padding: 0px;">{{q.dateCreation|date("m/d/Y")}}</div>
						    </div>
		    			</div>

					</div>
				    </a>

			{% endfor %}
			</div>

			<a href="./quiz/new" type="button" class="btn btn-info btn-lg mt-3">Créer un quiz</a>

	</div>
	</div>



{% endblock %}
