{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="/quizdepoulet/public/JS/ranking.js" defer></script>
{% endblock %}

{% block stylesheets %}
	<link href="../CSS/css.css" rel="stylesheet">
{% endblock %}


{% block body %}
	<div class="min-vh-100" style="background-image: url('../Image/fond-cartoon2.jpg'); background-size: cover;">
		<div class="container" style="padding-top: 75px">
		{# HEADER #}
		<div id="maxscore" data-maxscore="{{total}}" class="row" style="text-align: center; justify-content: center; margin-bottom: 10px">
    		<h1 style="font-family: 'cartoonregular'; font-size: 6em; color: white; text-shadow: 3px 3px 2px black;">TOP 10</h1>
			<h2 style="font-weight: bold">{{quiz.name}}</h2>
            <h3 style="font-weight: bold">Points Maximum : {{total}}</h3>
			<a href="./play/{{quiz.id}}" type="button" class="btn btn-info btn-lg {% if total == 0 %}disabled{% endif %}" style="width: auto">JOUER</a>
  		</div>
		{# LISTE DES UTILISATEURS #}
		{% for res in results %}
			<div class="row" style="align-items: center; flex-wrap: nowrap; justify-content: space-evenly; background-color: rgba(237, 197, 127, .5); border-radius: 10px; margin: 5px 0px;">
				<span style="width: auto; font-weight: bold">{{res.user.username}}</span>
				<span style="width: auto; font-weight: bold">Points : {{res.score}}</span>
				<canvas data-score="{{res.score}}" style="height: 10%; width: 10%"></canvas>
			</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}