{% extends 'base.html.twig' %}

{% from 'macro/_questionForm.html.twig' import printQuestionRow %}

{% block javascripts %}
    <script src="/quizdepoulet/public/JS/newQuiz.js"></script>
{% endblock %}

{% block stylesheets %}
<link href="../CSS/css.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="min-vh-100" style="background-image: url('../Image/fond-cartoon2.jpg'); background-size: cover;">

        <h1 class="mt-5 w-75 mx-auto" style="font-family: 'cartoonregular'; font-size: 6em; color: white; text-shadow: 3px 3px 2px black;">Création de quiz</h1>

        <div class="w-75 mx-auto">
            {{ form_start(form) }}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            <div class="p-4" style="background: radial-gradient(#edc57f, #dfad55); border-radius: 20px;">
                <div class="row my-4">
                    <div class="col-md-12">{{ form_row(form.name) }}</div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12">{{ form_row(form.image) }}</div>
                </div>
            </div>

            <ul id="question-fields-list" class="p-0 my-4" style="list-style: none"
                data-prototype="{{ printQuestionRow(form.questions.vars.prototype)|e('html_attr') }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.questions|length }}">
                {% for questionForm in form.questions %}
                    {{ printQuestionRow(questionForm) }}
                {% endfor %}
            </ul>

            {{ form_widget(form) }}
            <div class="d-flex row justify-content-between">
                <button type="button"
                    class="col-4 add-another-collection-widget btn btn-primary my-3"
                    data-list-selector="#question-fields-list">+ Ajouter une question</button>
                <button type="submit" class="col-4 btn btn-success my-3">Enregistrer</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}