{% extends 'base.html.twig' %}

{% from 'macro/_questionForm.html.twig' import printQuestionRow %}

{% block javascripts %}
    <script src="/quizdepoulet/public/JS/newQuiz.js"></script>
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto p-5">
    <h1 class="mt-3">Création de quiz</h1>
        {{ form_start(form) }}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div class="row my-4">
            <div class="col-md-12">{{ form_row(form.name) }}</div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">{{ form_row(form.description) }}</div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">{{ form_row(form.image) }}</div>
        </div>
        <ul id="question-fields-list" class="p-0 my-4" style="list-style: none"
            data-prototype="{{ printQuestionRow(form.questions.vars.prototype)|e('html_attr') }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.questions|length }}">
            {% for questionForm in form.questions %}
                {{ printQuestionRow(questionForm) }}
            {% endfor %}
        </ul>

        <button type="button"
            class="add-another-collection-widget btn btn-primary"
            data-list-selector="#question-fields-list">+ Ajouter une question</button>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success my-3 float-end">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}